@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
margin: 0;
background-image: url(sea.jpg);
background-size: cover;
background-position: center;

}




nav{

background-color: lightblue;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px;
background: radial-gradient(circle, rgba(137,239,241,1) 2%, rgba(9,63,162,1) 100%);



}

nav img{
height: 80px;
border-radius: 50%;


}

nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type:none ;
  font-family: Lobster;

}
nav ul li a{
  margin: 20px;
  padding: 20px;
  text-decoration: none;
  background-color: white;
  border-radius: 15px;

}

nav ul li a:hover {
background-color: darkblue;
color: white;



}s