@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Shizuru&display=swap');
body{
margin: 0;



}



header{
  height: 400px;
display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("forest.jpg");
  background-size: cover;
  background-position: center;
  font-family: Shizuru;





}

header h1{
  padding: 30px;
  background-color: rgba(255, 255,255, 0.3);
  border-radius: 20px;





}

main{
padding: 100px;
background: linear-gradient(0deg, rgba(16,93,20,1) 38%, rgba(0,45,203,1) 61%);
font-family: Open Sans Condensed;
}

main p{

color: white;
column-count: 2;


}

#info{

display: flex;
justify-content: space-between;
align-items: center;
padding: 100px;
background-color: seagreen;
font-family: Open Sans Condensed;
}



footer{
height: 400px;
display: flex;
justify-content: space-evenly;
align-items: center;
background-image: url(forest2.jpg);
background-size: cover;
background-position: center;
font-family: Shizuru;

}

footer p{
color: white;
padding: 20px;
background-color: rgba(255, 255, 255, 0.3);
border-radius: 20px;


}

