h1{ text-align: center;
	color: orange;
	background-color: black;


}

body{
	background-color: orange;
}

h2{
	text-align: left;
	color: orange;
	background-color: black
}
 h3{
 	text-align: left;
 	color: orange;
 	background-color: black;
 }

p{  color: black;

 }

 h4{ color: orange;
 	background-color: black;



 } 

 h5{ color: orange;
 background-color: black; }

 ol{  color: orange;
    background-color: black;}

 h6{  background-color: black; 
 color: orange; }  

 #Tiger1{  width:200px; margin:10px; float: left; padding: 5px; border: dotted black;} 
 #Tiger2{ width: 200px; margin: 10px; float: right; padding: 5px; border: dotted black;}
#Tiger3{  width: 200px; margin: 10px; float: left; padding: 5px;  border: dotted black;}
#Basket1{ width: 300px; margin: 10px; float: left; padding: 5px; border: solid black; }  




