<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta charset="utf-8">
	<title>Template</title>
</head>
<body>
<nav>
	<h1>BR <span class="class">Architects</span></h1>
	
	<ul>
		<li><a>Projects</a></li>
		<li><a>About</a></li>
		<li><a>Contact</a></li>

	</ul>
</nav>


<main>

	<section>
	<article>
	<div class="barnhouse">  

	    </div>
	    
	    <div class="black-box">Barn House</div>
</article>


 <article>
	<div class="renovatedhouse">  

	    </div>
	   
	    <div class="black-box">Renovated House</div>
</article>


<article>
	<div class="brickhouse">  

	    </div>
	    
	    <div class="black-box">Brick House</div>
</article>

<article>
	<div class="summerhouse">  
 </div>
  <div class="black-box">Summer House</div>
</article>
</section>
<section id="section2">
	<article>
	<div class="barnhouse2">  

	    </div>
	    
	    <div class="black-box">Barn House</div>
</article>


 <article>
	<div class="renovatedhouse2">  

	    </div>
	   
	    <div class="black-box">Renovated House</div>
</article>


<article>
	<div class="brickhouse2">  

	    </div>
	    
	    <div class="black-box">Brick House</div>
</article>

<article>
	<div class="summerhouse2">  
 </div>
  <div class="black-box">Summer House</div>
</article>





</section>

<h2>About</h2>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porttitor dictum mauris, vitae ultrices dolor consequat ut. Fusce elementum urna a dolor lacinia mattis. Ut tincidunt sodales blandit. Nunc eu facilisis quam. Sed vel nulla justo. Nullam sed ligula at elit bibendum condimentum. Proin ac quam et augue varius vehicula sed convallis libero. Donec tristique nulla ut libero tempus, id consectetur ipsum sodales. Curabitur elit lacus, dapibus sit amet leo laoreet, mollis pulvinar lacus. Donec dolor eros, pretium et facilisis ac, rhoncus quis metus. Donec dolor neque, aliquam quis leo vel, mollis finibus diam.</p>
<section id="section3">
<main>
<article>
	<div class="johndoe">  

	    </div>
	    <div class="text">
	    	<p class="mini-header">
	    		<span>John</span>
	    		<span>Doe</span>

	    	</p>
	    	<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
	    	<p class="mini-footer">
	    		
	    		<span>CEO and Founder</span>
	    		<span>Contact</span>
	    	</p>
	    </div>
	    
</article>
<article>
	<div class="janedoe">  

	    </div>
	    <div class="text">
	    	<p class="mini-header">
	    		<span>Jane</span>
	    		<span>Doe</span>

	    	</p>
	    	<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
	    	<p class="mini-footer">
	    		
	    		<span>CEO and Founder</span>
	    		<span>Contact</span>
	    	</p>
	    </div>
	    
</article>
</section>
</main>

</body>
</html>