@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1{
  text-align: center;
  font-family: Bebas Neue;
}
h2{
  text-align: center;
  font-family: Bebas Neue;

}

main{

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  

}

main a{
  width: 300px;
  height: 300px;
  border: 2px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: black;
  text-decoration: none;

}

main a p{

  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 15px;
}

body{
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(3,155,223,0.7231267507002801) 0%, rgba(3,155,223,0.7763480392156863) 0%);
}
