 /*
*
* Title: Klesti`s Web Shop;
* Author: Klesti Kadrija;
* Date: 8.05.2022;
*/


/******************************General Styling****************************************/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');




body{
margin: 0;


}

/* Navigation */ 



nav{

background-color: lighblue;
display: flex;
justify-content: space-between; /* To make the links on the right side and the logo on the left */
align-items: center;
padding: 30px;
background: linear-gradient(45deg, rgba(0,0,0,1) 51%, rgba(17,171,204,1) 51%);



}

nav img{
height: 80px;
border-radius: 50%; /* To make the logo round */


}

nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type:none ; /* It removes the bullet points */
  font-family: Pacifico;

}
nav ul li a{
  margin: 20px;
  padding: 20px;
  text-decoration: none; /*It removes the underline*/
  background-color: lightblue;
  border-radius: 15px;

}

nav ul li a:hover {
  /* Hover changes the elements if we move the mouse over it */
background-color: blue;
color: white;



}

/* Header */
header  {
  height: 400px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("header_background.jpg");
  background-position: center;
  background-size: cover;
  color: lightblue;





}

header h1{

  font-size: 30px;
 


}

/* Main */
main{
padding: 60px;
background: linear-gradient(180deg, rgba(3,174,223,1) 50%, rgba(0,0,0,1) 50%);




}

main h2 {
color: white;
font-size: 30px;





}


main p {
color: white;
background-color: lighblue;
padding: 20px;


}


section {
display: flex;
justify-content: space-between;
align-items: stretch;




}


section .left {
width: 70%;
background-color: lightblue;
padding: 30px;
border: solid blue;
font-family: Pacifico;

}


section .right {
width: 30%;
background-color: blue;
padding: 30px;
font-family: Pacifico;


}





/* Footer */

footer{
height: 400px;
display: flex;
justify-content: space-evenly;
align-items: center;
background-image: url("footer_background.jpg");
background-size: cover;
background-position: center;



}

footer p {
color: white;
background-color: darkcyan;
color: white;
border-radius: 30%;
padding: 20px;

}

footer :hover{
background-color: blue;
color: white;


}

main ol{
color: white;

}


/****************************** Page Styling ********************************/


/* Home Page */

#home header {
 background-image: url("header_background.jpg");

}






}
/* About Page */

#about header {
background-image: url("header_background.jpg");

}



#about main p {
background-color: orangered;



}

/*Products Page*/
 article {
position: relative;
margin: 25px;

}

article .image {

width: 300px;
height: 170px;
background-image: url("jordan36.jpg");
background-position: center;
background-size: cover;
padding: 20px;



}

article .text {
width: 300px;
height: 170px;
background-color: white;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: flex-start;
flex-direction: column;

}

article .text .mini-header {

text-transform: uppercase;
font-size: 13px;

}

article .text .mini-header span{

margin-right: 8px;

}

article .text .mini-footer{
display: flex;
align-items: center;
justify-content: space-between;
color: darkgrey;
font-size: 12px;
width: 100%;
}

article .red-box {

background-color: red;
color: white;
padding: 8px;
font-size: 12px;
text-transform: uppercase;
position: absolute;
top: 180px;
left: 0px;

}

article .image2{
width: 300px;
height: 170px;
background-image: url("spalding.jpg");
background-position: center;
background-size: cover;
padding: 20px;

}

article .image3{
width: 300px;
height: 170px;
background-image: url("jersey.jpg");
background-position: center;
background-size: cover;
padding: 20px;

}

article .image4{
width: 300px;
height: 170px;
background-image: url("armsleeve.jpg");
background-position: center;
background-size: cover;
padding: 20px;

}


section{
display: flex;
justify-content: space-evenly;
align-items: flex-start;

}

#section2{
display: flex;
justify-content: space-evenly;
align-items: flex-end;

 }
article .image5{
width: 300px;
height: 170px;
background-image: url("basketballshorts.jpg");
background-position: center;
background-size: cover;
padding: 20px;

}
article .image6{
width: 300px;
height: 170px;
background-image: url("basketballsocks.jpg");
background-position: center;
background-size: cover;
padding: 20px;

}